body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000; /* Black background */
    color: #fff; /* White text */
    margin: 0;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 30px;
}

#countdown {
    display: flex;
    justify-content: center;
}

.time {
    background: #444; /* Darker background for the time sections */
    color: #fff;
    border-radius: 5px;
    margin: 0 10px;
    padding: 20px;
    display: flex;
    flex-direction: column; /* Aligns titles above numbers */
    justify-content: center;
    align-items: center;
    width: 100px;
}

.time-title {
    font-size: 14px;
    margin-bottom: 10px;
}
