body, html {
    margin: 0;
    padding: 0;
    background-color: #000; /* Black background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Consolas', 'Courier New', monospace;
    overflow-x: hidden; /* Prevents horizontal scrolling */
}

.container {
    text-align: center;
    width: 100%;
    max-width: 600px; /* Maximum width of the container */
    margin: 0 auto; /* Center the container */
}

h1 {
    color: #fff;
    font-size: 4vw; /* Responsive font size based on viewport width */
    margin-bottom: 1rem;
}

#countdown {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Wrap items on smaller screens */
    justify-content: center;
    align-items: center;
}

.time {
    flex: 1 0 20%; /* flex-grow | flex-shrink | flex-basis */
    margin: 0.5rem;
    min-width: 60px; /* Minimum width for very small screens */
}

.time-title {
    font-size: 3vw; /* Responsive font size based on viewport width */
    text-transform: uppercase;
    color: #ccc;
}

.time-value {
    font-size: 8vw; /* Larger font size for the time values */
    color: #4CAF50;
}

@media (max-width: 600px) {
    .time {
        flex-basis: 25%; /* Take up more space on smaller screens */
    }

    .time-title {
        font-size: 4vw;
    }

    .time-value {
        font-size: 10vw; /* Increase font size on smaller screens */
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 6vw;
    }

    .time {
        flex-basis: 50%; /* Each time section takes half the width */
    }

    .time-title {
        font-size: 5vw;
    }

    .time-value {
        font-size: 15vw; /* Further increase font size for very small screens */
    }
}
