body, html {
    height: 100%;
    margin: 0;
    background-color: #000; /* Black background */
    color: #fff; /* White text */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Consolas', 'Courier New', monospace;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 30px;
    color: #fff; /* White text for the title */
}

#countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em; /* Larger font size for the digital look */
    color: #4CAF50; /* Green color like digital clocks */
}

.time {
    margin: 0 20px; /* Spacing between segments */
    position: relative; /* For positioning the ':' pseudo-elements */
}

.time:not(:last-child):after {
    content: ':';
    position: absolute;
    right: -30px; /* Adjust as needed */
    font-size: 0.5em; /* Smaller font size for ':' to mimic your provided image */
    color: #4CAF50;
}

.time-title {
    display: block;
    font-size: 0.2em; /* Smaller font size for titles */
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: -0.2em; /* Adjust spacing between title and number */
}

.time-value {
    letter-spacing: -5px; /* Adjust spacing between digits */
    line-height: 0.8em; /* Adjust line height to prevent extra vertical space */
}
